<main id="dashboard">
    <h1>Dashboard</h1>
    <button onclick="handleLogout()">Logout</button>
    <div id="course-list" ></div>
</main>
<script src="./js/util/cookies.js"></script>
<script src="./js/courses.js"></script>
