<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="style/reset.css" />
<link rel="stylesheet" href="style/base.css" />
<link rel="stylesheet" href="style/module.css" />
<link rel="stylesheet" href="style/template.css" />
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<title>CF Code Fellows Class Manager Manager</title>
