.header {
  min-height: 50px;
  height: auto;
  padding: 0 0 0 15px;
}

.menu-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.row-center {
  justify-content: center;
}

.row-space {
  justify-content: space-around;
}

.menu-column {
  min-width: 50px;
}

.flex-center{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.z-top {
  z-index: 100;
  box-shadow: 8px 0 10px -6px black;
}

.trans {
  background-color: rgba(255,255,255,0.6);
}


.svg-background1 {
  background-color: #78a7ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0101' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23cc0000' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a30202' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23cd0000' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239c0203' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23cd0000' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23950303' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23ce0000' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f0304' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ce0000' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880404' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
