<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body>
    <% if (authToken) { %>
        <%- include('../partials/dashboard') -%>
    <% } else { %>
        <%- include('../partials/signin'); -%>
    <% } %>

    <script src="./js/util/request.js"></script>
    <script src="./js/auth.js"></script>
</body>

</html>
