<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body id="register" class="svg-background1">
    <div id="signup-form" class="menu-column">
        <form>
            <input
                type="email"
                id="email"
                placeholder="Email Address"
            >
            <input
                type="password"
                id="password"
                placeholder="Enter a Password"
            />
            <input
                type="submit"
                value="Register"
            />
        </form>
    </div>

    <script src="./js/request.js"></script>
    <script src="./js/auth.js"></script>
</body>

</html>
